@charset "UTF-8";

*{
  /*height: 100%;*/
  font-family: Arial, Helvetica, sans-serif;  
}

body{
  background-image: linear-gradient(to right,#A3D3D9,#729CA6);  
}

p{
  text-align: justify;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d4b5a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color:#134577; 
   text-align: center;
   text-shadow: 2px 1px 3px #134577;
}

h2{
   color:#45646b; 
}
